<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ Titulo }}</title>
    <link rel="stylesheet" href="/static/estilo.css">
</head>
<body>

    <div class="influencer-card">
      <div class="page-header">
          <h1>{{ Titulo }}</h1>
      </div>
      <form action="/criar" method="post">
        <fieldset>
          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" id="nome" name="nome" class="form-control">
          </div>
          <div class="form-group">
            <label for="social">Rede social</label>
            <input type="text" id="social" name="social" class="form-control">
          </div>
          <div class="form-group">
            <label for="Seguidor">Seguidor</label>
            <input type="text" id="Seguidor" name="Seguidor" class="form-control">
          </div>
           <div class="form-group">
            <label for="Area">Area</label>
            <input type="text" id="Area" name="Area" class="form-control">
          </div>
          <button type="submit" class="botao">Salvar</button>
        </fieldset>
      </form>
    </div>
</body>
</html>